section.main__hcwh(class="hcwh")
  .hcwh__bg-element(class="hcwh__bg-element_1 bg-element")
  .hcwh__bg-element(class="hcwh__bg-element_2 bg-element")
  .hcwh__cols-container
    .hcwh__col
      .hcwh__image-container
        .hcwh__image-container-border
        .hcwh__image-container-bg
        img.hcwh__image(src="../../images/HCWH/Image.png" alt="Pomeranian dog")
    .hcwh__col
      include ../titles/title
      +subtitle("How Can We Help"," hcwh__subtitle")
      +titleSection("While You Are On Vacation Or Work Is Stressful", "hcwh__title")
    .hcwh__col
      .hcwh__decoration(class="hcwh-decoration")
        span.hcwh-decoration__line
        span.hcwh-decoration__print
        span.hcwh-decoration__line
      .hcwh__rating-container(class="rating")
        a.rating__play(href="#")

        .rating__image-container
          img.rating__image(src="../../images/HCWH/icon1.jpg" alt="Chris Campbell")
        .rating__image-container
          img.rating__image(src="../../images/HCWH/icon2.jpg" alt="Warren Wong")
        .rating__image-container
          img.rating__image(src="../../images/HCWH/icon3.jpg" alt="Jakob Owens")
