section.main__hcwh(class="hcwh")
  .hcwh__bg-element(class="hcwh__bg-element_1 bg-element")
  .hcwh__bg-element(class="hcwh__bg-element_2 bg-element")
  .hcwh__cols-container
    .hcwh__col
      .hcwh__image-container
        .hcwh__image-container-bg
        img.hcwh__image(src="../../images/HCWH/Image.png" alt="Pomeranian dog")
    .hcwh__col
      include ../titles/title
      +subtitle("How Can We Help"," hcwh__subtitle")
      +titleSection("While You Are On Vacation Or Work Is Stressful", "hcwh__title")
    .hcwh__col
      .hcwh__decoration
        span.hcwh__decoration-line
        span.hcwh__decoration-print
        span.hcwh__decoration-line
      .hcwh__rating-container
        .hcwh__rating-play
          .hcwh__play-title
            span.hcwh__play-char1 P
            span.hcwh__play-char2 E
            span.hcwh__play-char3 T
            span.hcwh__play-char4
            span.hcwh__play-char5 S
            span.hcwh__play-char6 C
            span.hcwh__play-char7 R
            span.hcwh__play-char8 U
            span.hcwh__play-char9 Z
            span.hcwh__play-char10 E
            span.hcwh__play-char11
            span.hcwh__play-char12 -
            span.hcwh__play-char13
            span.hcwh__play-char14 P
            span.hcwh__play-char15 E
            span.hcwh__play-char16 T
            span.hcwh__play-char17
            span.hcwh__play-char18 S
            span.hcwh__play-char19 C
            span.hcwh__play-char20 R
            span.hcwh__play-char21 U
            span.hcwh__play-char22 Z
            span.hcwh__play-char23 E
            span.hcwh__play-char24
            span.hcwh__play-char25 -
            span.hcwh__play-char26
          span.hcwh__play-icon
        .hcwh__rating-image-container
          img.hcwh__rating-image(src="../../images/HCWH/icon1.jpg" alt="Chris Campbell")
        .hcwh__rating-image-container
          img.hcwh__rating-image(src="../../images/HCWH/icon2.jpg" alt="Warren Wong")
        .hcwh__rating-image-container
          img.hcwh__rating-image(src="../../images/HCWH/icon3.jpg" alt="Jakob Owens")
