mixin titleSection(text, className)
  h3.title-section(class= className)= text

mixin subtitle(text, className)
  p.subtitle-section(class= className)= text

mixin titleColFooter(text, className)
  p.footer__col-title(class= className)= text