@import "../../global/variables";

.button,
.button-search {
  background-color: $btn-color;
  border: none;
  border-radius: 40px;
  color: $text-btn-color;
  padding: 15px 30px;

  &:hover {
    box-shadow: 5px 5px 30px $btn-shadow-color;
    cursor: pointer;
  }
}

.button-close {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border: none;
  background: url("../../images/icons/close.svg") no-repeat;
  &:hover {
    cursor: pointer;
  }
}