$btn-color: rgb(255 91 46 / 100%);
$text-btn-color: rgb(255 255 255 / 100%);
$btn-shadow-color: rgb(255 91 46 / 30%);

.button {
  background-color: $btn-color;
  border: none;
  border-radius: 40px;
  color: $text-btn-color;
  padding: 15px 30px;

  &:hover {
    box-shadow: 5px 5px 30px $btn-shadow-color;
    cursor: pointer;
  }
}