$bg-color: rgb(255 250 245 / 100%);
$other-gb-color: rgb(255 244 233 / 100%);
$btn-color: rgb(255 91 46 / 100%);
$input-color: rgb(255 91 46 / 5%);
$title-text-color: rgb(40 40 40 / 100%);
$subtitle-text-color: rgb(255 91 46 / 100%);
$text-color: rgb(111 111 111 / 100%);
$adopt-color: rgb(255 155 126 / 100%);
$adopt-shadow-color: rgb(255 91 46 / 100%);
$love-color: rgb(92 213 227 / 100%);
$foster-color: rgb(200 224 245 / 100%);
$foster-shadow-color: rgb(217 232 245 / 100%);
$print-decoration-orange: rgb(255 91 46 / 100%);
$print-decoration-gray: rgb(175 175 175 / 100%);
$avards-icon-color: rgb(92 213 227 / 100%);
$clients-icon-color: rgb(255 91 46 / 100%);
$pets-icon-color: rgb(250 191 62 / 100%);
$professionals-icon-color: rgb(144 201 252 / 100%);
$small-dog-pic-bg-color: rgb(217 233 245 / 100%);
$big-dog-pic-bg-color: rgb(255 232 223 / 100%);
$cat-pic-bg-color: rgb(248 166 127 / 100%);
$icon-1-color: rgb(255 91 46 / 100%);
$icon-2-color: rgb(255 119 217 / 100%);
$icon-3-color: rgb(255 188 0 / 100%);
$icon-4-color: rgb(161 138 253 / 100%);
$icon-5-color: rgb(255 156 129 / 100%);
$font-family: 'Poppins';
$title-section-font: 'Recoleta';
$copyright-font: 'Urbanist';
$font-size: 16px;
$hover-link: rgb(0 0 0 / 100%);