extends ../layouts/default

block content
  main.main
    include ../components/banner/banner
    include ../components/HCWH/htwh
    include ../components/services/services
    include ../components/statics/statics
    include ../components/care/care