extends ../layouts/default

block content
  main.main
    include ../components/banner/banner
    include ../components/HCWH/htwh
    include ../components/services/services
    include ../components/statics/statics
    include ../components/care/care
    include ../components/appointment/appointment
    include ../components/testimonial/testimonial
    include ../components/special/special
    include ../components/popup/popup