header.header
  .header__bg-element(class="header__bg-element_1 bg-element")
  .header__bg-element(class="header__bg-element_2 bg-element")
  .header__container
    h1.header__logo
      span Pet
      span.header__logo_dot .
      span Scruze
    include ../buttons/button
    +btn("button", "Contact Us", "header__button button")