@import "../../global/variables";

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  &__container {
    width: 1350px;
    border-bottom: 1px solid $bottom-line-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }

  &__logo {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-family: $font-family;
    color: $logo-color;
    font-weight: 700;

      &_dot {
        color: $dot-color;
      }
  }

  &__bg-element {
    &_1 {
      width: 75px;
      height: 78px;
      transform: rotate(230deg);
      top: -27px;
      left: 169px;
    }

    &_2 {
      width: 134px;
      height: 140px;
      transform: rotate(230deg);
      top: -50px;
      left: 1100px;
    }
  }
}