a//- block footerVariables
-
  var BPlistItems = [
    {'className': 'footer__col-item', 'src': 'https://maps.app.goo.gl/rm686WMvth237GHJ7', 'content': 'Fresno, CA 93710, United States'},
    {'className': 'footer__col-item', 'src': 'tel:+114588523692', 'content': '+11 458 852 369'},
    {'className': 'footer__col-item', 'src': 'mailto:petscruze@xyz.com', 'content': 'petscruze@xyz.com'}
  ]
-
  var OHlistItems = [
    {'className': 'footer__col-item', 'content': 'Mon - Fri: 9.00AM - 6.00PM'},
    {'className': 'footer__col-item', 'content': 'Saturday: 9.00AM - 6.00PM'},
    {'className': 'footer__col-item', 'content': 'Sunday: Closed'}
  ]

footer.footer
  .footer__container
    .footer__body
      .footer__col
        include ../titles/title
        +titleColFooter("Basic Plan")
        ul.footer__col-list
          include ../list-items/list-item
          each item in BPlistItems
            +listItem(item.className, item.src, item.content)
      .footer__col(class="footer__col_center")
        include ../titles/title
        +titleSection("Want To KeepYour Pet In, Our Center?", "footer__title")
        include ../buttons/button
        +btn("button", "Book Now", "footer__button button")
      .footer__col
        include ../titles/title
        +titleColFooter("Opening Hours")
        ul.footer__col-list
          //- li.footer__col-item Mon - Fri: 9.00AM - 6.00PM
          //- li.footer__col-item Saturday: 9.00AM - 6.00PM
          //- li.footer__col-item Sunday: Closed
          
    p.footer__copiright © 2023 Pet Scruze. All Rights Reserved.