$other-gb-color: rgb(255 244 233 / 100%);
$container-width: 1350px;

.footer {
  margin-top: auto;
  height: 528px;
  background-image: url('../images/bg/bg-r.webp');
  display: flex;
  justify-content: center;
  // background-color: $other-gb-color;
  // clip-path: polygon(100% 50%, 100% 100%, 100% 100%, 100% 50%, 100% 100%, 100% 100%, 0 100%, 0% 100%, 0 0, 50% 13%);
  // clip-path: polygon(0 0, 100% 18%, 100% 100%, 0 100%);
  // clip-path: polygon(0 0, 87% 16%, 90% 17%, 94% 18%, 97.8% 25%, 99% 30%, 100% 40%, 100% 100%, 0 100%);
  // border-radius: 0 30% 0 0;
  // clip-path: inset(0 0 0 );


  &__container {
    width: $container-width;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

  }

  &__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 auto;
  }

  &__title {
    max-width: 489px;
    text-align: center;
  }
  &__col {
    &_center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__copiright {
    flex: 0 0 auto;
  }
}

.no-webp .footer {
  background-image: url('../images/bg/bg-r.png');
}