section.main__testional(class="testimonial")
  img.testimonial__img-bg(src="../../images/Testimonial/bg.svg" alt="world map")
  .testional__bg(class="bg-testimonial")
    .bg-testimonial__el
    .bg-testimonial__el
    .bg-testimonial__el
  .testimonial__container
    include ../titles/title
    +subtitle("Testimonial", "testimonial__subtitle")
    +titleSection("What our Client’s Say Have To Say!", "testimonial__title")

    .testimonial__col
      .testimonial__bg-ellipse
      .testimonial__clients(class="clients")
        .clients__icon
          img.clients__img(src="../../images/Testimonial/icon1.png" alt="client 1")
        .clients__icon
          img.clients__img(src="../../images/Testimonial/icon2.png" alt="client 2")
        .clients__icon
          img.clients__img(src="../../images/Testimonial/icon3.png" alt="client 3")
        .clients__icon
          img.clients__img(src="../../images/Testimonial/icon4.png" alt="client 4")
        .clients__icon
          img.clients__img(src="../../images/Testimonial/icon5.png" alt="client 5")
        .clients__say-cloud(class="say-cloud")
          p.say-cloud__text The facility itself was clean and well-maintained, with plenty of space for my pet to play and relax. I felt completely at ease knowing that my pet was in good hands and receiving top-notch care. I would highly recommend this pet care facility to anyone in need of a reliable and compassionate pet care service.
          p.say-cloud__name John Misha
