doctype hmtl
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Pet Scruze
    link(rel="stylesheet", href="styles/style.css")
    link(rel="stylesheet", href="styles/index.css")
  body.defult-layout
    include ../components/header/header
    block content
    include ../components/footer/footer